                                         
.miestilo{                                    
    color:darkorchid;
    font-weight:900;          
    }   
p, h1{                      
    font-size: 18px; 
    }
img{
    width: 50%;
    } 
p{
   font-style: italic; 
}
.verde{
    color: chartreuse;
}
ul{
    list-style: none;
}
.li{

    display: inline;
}