                                         
.miestilo{                                    
    color:darkorchid;
    font-weight:900;          
    }   
p, h1{                      
    font-size: 30px; 
    }
 .dospix{
    width: 1500px;
    } 