@media () {   
    .contenedor{
        background-color:wheat;
        width:auto;
        height:400px;
        padding: 10px;
        display:flex;
        flex-flow:row;
        
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        
        
    }
    .contenedor2{
        background-color: wheat;
        height: 300px;
        flex-flow: column;
        width:auto;
        padding:10px;
        display: flex;
        flex-flow: row;
        gap:10px;
    }
}

.item{
    padding: 10px;
    height:100px;
    width: 100px;
    background-position: center;
    text-align:center;
    
    
    
    

}


.item1{
    /*background-image: url("../img/zamora3.jpg");*/
    
    
    
    

    
}
.item2{
    /*background-image: url("../img/zamora2.jpg");*/
    
    
}

.item3{
   /* background-image: url("../img/zamora1.jpg")*/
    

}

.item4{
    /*background-image: url("../img/semanasanta.jpg");*/
    

}

.item5{
   /* background-image: url("../img/Zamora4.jpg");*/
    
    
    
   
    
}   
.item6{
    /*background-image: url("../img/zamora5.jpg");*/
}

    
    


.contenedor{
    background-image:url("../img/bandera_zamora.png");
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.contenedor2{
    background-color: wheat;
    flex-flow: column;
    flex-direction: row;
    display: flex;
    gap: 25px;
    
    
    
}
.cont2_item1 {
    border:none;
  }
.p1{
    text-align: center;
    background-color: coral;
    font-family: 'Courier New', Courier, monospace;
}

/* A partir de aquí comienza el light box*/

