@media (min-width: 802px) {   
    .contenedor{
        background-color:wheat;
        padding: 10px;
        display:flex;
        flex-flow:column;
        justify-content: center;
        align-items: end;
        gap: 10px;
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        
        
    }
   
}

.item{
    padding: 20px;
    height: 100px;
    width: 200px;
    background-position: center;
    text-align:center;
    text-decoration:wavy;
    
    
    

}
.img{
    
    
}

.item1{
    background-image: url("../img/zamora3.jpg");
    
    text-shadow: 2px;
    
    
    

    
}
.item2{
    background-image: url("../img/zamora2.jpg");
    
    
}

.item3{
    background-image: url("../img/zamora1.jpg")
    

}

.item4{
    background-image: url("../img/semanasanta.jpg");
    

}

.item5{
    background-image: url("../img/Zamora4.jpg");
    
    
    
   
    
}   
.item6{
    background-image: url("../img/zamora5.jpg");
}

.item7{
    background-image: url("../img/zamora7.jpg");
    width: 1600px;
    height: 600px;


}
    
    


.contenedor{
    background-color:wheat;
    padding: 10px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-weight: 900;    
    color:black

}

.contenedor2{
    background-color: wheat;
    display:flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}


/* A partir de aquí comienza el light box*/

