                                         
.miestilo{                                    
    color:darkorchid;
    font-weight:900;          
    }   
p, h1{                      
    font-size: 18px; 
    }
img{
    width: 10px;
    } 
.tabla{
   font-style: italic;
   text-align: center;
   font-size: 20px;
   margin-left: 40px;
   margin-right: 40px;
   padding-left: 40px;
   padding-right: 40px;
   background-color:red;
}
.texto{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: oblique;
    text-align: justify;



}